/* #region All @media */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    width: 100%;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }


/* #endregion All @media*/
/* #region Our Team @media*/
@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 24px) / 2);
} 
}

@media screen and (min-width: 1158px) {
  .team-item {
        width: calc((100% - 24px * 3) / 4);
   }
}

/* #endregion 'Our Team @media*/
